body {
    font-family: Arial, Helvetica, sans-serif;
}

table#adminCurrentRooms, table#adminCurrentRooms th, table#adminCurrentRooms td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 12px;
}

table#adminCurrentRooms th, table#adminCurrentRooms td {
    padding: 4px;
}

#connectionControls {
    min-width: 390px;
    max-width: 30%;
}

#chatWrapper {
    display: none;
    position: fixed;
    bottom: 10px;
    width: 100%;
}

#chatArea {
    border: 1px solid black;
    padding: 4px;
    width: 30%;
    height: 100px;
    font-size: 11px;
    overflow-y: scroll;
}

#chatArea div {
    padding-top: 6px;
}

#draggableContainer {
    margin-top: 20px;
    display: none;
}

.syncedDraggable {
    position: absolute; /* IMPORTANT! Otherwise computation of coordinates will not work after dragging the element. */
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
}

.serverMessage {
    color: blue;
}

#chatMessageInput {
    border: 1px solid black;
    padding: 4px;
    width: 30%;
}

#submitChatMessageButton {
    width:60px;
    background: black;
    padding: 4px;
    color: white;
}